$color-gray: #444;
$color-blue: #006099;
$color-blue2: #0060a0;
$background-color: #e5e7e8;

@font-face {
    font-family: SohoGothicPro;
    src: url("../fonts/SohoGothicPro-Regular.otf");
}


@font-face {
    font-family: SohoGothicPro-B;
    src: url("../fonts/SohoGothicPro-Bold.otf");
}


@font-face {
    font-family: SohoGothicPro-M;
    src: url("../fonts/SohoGothicPro-Medium.otf");
}


body {
    font-family: SohoGothicPro;
    font-size: 100%;
    color: $color-gray;
    background: $background-color;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {}
}

h1 {
    color: $color-blue;
}

p {
    font-size: 130%;
    line-height: 1.6;
}

.navbar-slim {
    font-size: 135%;
    ul {
        li {
            a {
                display: inline-block;
                color: #555;
            }
            &:after {
                content: '|';
            }
            &:last-child:after {
                content: '';
            }
        }
    }
    .navbar-right {
        li {
            a {
                display: inline-block;
                color: $color-blue2;
            }
        }
    }
}

.navbar-normal {
    font-size: 163%;
    ul {
        li {
            a {
                display: inline-block;
                text-transform: uppercase;
                color: $color-blue;
            }
        }
    }
}

.navbar__logo {
    padding: 10px;
    float: left;
}

.navbar__shoppingcard {
    float: right;
    font-size: 135%;
    background: url("../img/icon-shopping-cart.png") no-repeat right center;
    line-height: 2.2;
    padding-right: 50px;
    color: #999;
}

.navbar__messages {
    background: url("../img/icon-messages.png") no-repeat center bottom;
    width: 22px;
    height: 16px;
    display: inline-block;
}

.navbar__circlecounter {
    background: $color-blue;
    display: inline-block;
    border-radius: 50%;
    moz-border-radius: 50%;
    webkit-border-radius: 50%;
    line-height: 1.3;
    color: #fff;
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}

.navbar-jumbotron {
    background: url("../img/header.jpg");
    height: 350px;
    background-position: center;
    position: relative;
    .navbar-form {
        max-width: 582px;
        height: 60px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .form-group {
        width: 440px;
        /*padding-left: 20px;*/
    }
    .form-control {
        width: 100%;
        height: 60px;
        font-size: 200%;
        border-radius: 8px;
        border-color: #666;
    }
    .btn {
        width: 90px;
        height: 45px;
        font-size: 200%;
        margin-left: 20px;
    }
}

.navbar-mobile {
    font-size: 160%;
    .navbar__logo {
        width: 160px;
        padding: 0;
        margin-top: -3px;
        img {
            width: 100%;
        }
    }
    .navbar-collapse {
        overflow: hidden;
    }
    .navbar-main {
        text-transform: uppercase;
    }
    .navbar-additional {
        a {
            color: #666;
        }
    }
    ul {
        li {
            border-bottom: 1px solid #ccc;
            a {
                line-height: 2;
            }
        }
    }
    .dropdown-menu {
        li {
            border: none;
        }
    }
}

@media (max-width: 767px) {
    .navbar-form {
        width: 100%;
        .btn {
            width: 25%;
            float: right;
            height: 60px;
            margin: 0;
        }
        .form-group {
            width: 70%;
        }
    }
}

// HOMEPAGE

.recent-products__item {
    background: #f2f2f2;
    max-height: 184px;
    color: $color-blue;
    position: relative;
    overflow: auto;
    figure {
        width: 184px;
        max-height: 184px;
        overflow: hidden;
        float: left;
        //width: 50%;
        img {
            width: 100%;
        }
    }
    .recent-products__inner {
        float: left;
        padding: 5px 15px;
        width: 50%;
        p {
            font-size: 110%;
        }
    }
    .recent-products__delete {
        width: 20px;
        height: 20px;
        background: url("../img/recent-product-delete.png");
        background-position: 0;
        background-color: #fff;
        position: absolute;
        right: 10px;
        top: 10px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        font-size: 250%;
        &:hover {
            background-image: url("../img/recent-product-delete_hover.png");
            background-color: #0060a0;
        }
    }
    &:hover {
        cursor: pointer;
        background: #f9f9f9;
    }
}

.offers__item {
    background: #e4f5fc;
    max-height: 255px;
    color: $color-blue;
    position: relative;
    overflow: auto;
    figure {
        width: 184px;
        max-height: 255px;
        overflow: hidden;
        float: left;
        //width: 50%;
        img {
            height: 100%;
            width: auto;
        }
    }
    .offers__inner {
        float: left;
        padding: 5px;
        padding-left: 15px;
        width: 50%;
        p {
            font-size: 120%;
            color: #444444;
        }
    }
    &:hover {
        cursor: pointer;
        background: #f6fbfd;
    }
}

.products__item {
    background: #fff;
    min-height: 200px;
    color: $color-blue;
    position: relative;
    border-top: 20px solid;
    .products__inner {
        float: left;
        padding: 5px 20px;
        width: 100%;
    }
    .products__list {
        padding-top: 10px;
        font-size: 130%;
        color: #333;
        li {
            line-height: 1.5;
        }
    }
}

.products__showall {
    position: absolute;
    bottom: 15px;
    font-size: 130%;
    text-transform: uppercase;
    right: 20px;
}

.products .row .col-lg-4 {
    &:nth-child(1) .products__item {
        border-color: #418622;
    }
    &:nth-child(2) .products__item {
        border-color: #c9d200;
    }
    &:nth-child(3) {
        border-color: #dbdf69;
    }
    &:nth-child(4) .products__item {
        border-color: #c85e8c;
    }
    &:nth-child(5) .products__item {
        border-color: #707172;
    }
    &:nth-child(6) .products__item {
        border-color: #009ee0;
    }
    &:nth-child(7) .products__item {
        border-color: #000000;
    }
    &:nth-child(8) .products__item {
        border-color: #00acb6;
    }
    &:nth-child(9) .products__item {
        border-color: #f2db00;
    }
}

.footer {
    min-height: 380px;
    background: $color-blue2;
    color: #eee;
    margin-top: 20px;
    .container {
        min-height: 300px;
        background: url("../img/world-map.png") no-repeat right center;
        padding: 15px;
    }
    p {
        font-size: 130%;
    }
    .footer__menu {
        font-size: 130%;
        text-transform: uppercase;
    }
}

@media (max-width: 420px) {
    .recent-products__item {
        figure {
            width: 40%;
        }
    }
    .products__item {
        .products__showall {
            display: block;
            clear: left;
            padding: 10px;
            width: 100%;
            text-align: right;
            position: relative;
        }
    }
    .offers__item {
        figure {
            width: 50%;
        }
    }
    .footer {
        .container {
            background: none;
        }
    }
}

// PRODUCT LEVEL 1

.breadcrumb {
    background: none;
    font-size: 170%;
    height: auto;
    overflow: visible;
    min-height: 50px;
    .breadcrumb__item {
        position: relative;
        text-transform: uppercase;
        float: left;
        margin-bottom: 10px;
        > a {
            padding: 0 20px;
            float: left;
        }
        .dropdown-toggle {
            border: none;
            background: url("../img/breadcrumb-arrow.png");
            content: '';
            width: 25px;
            height: 25px;
            display: block;
            float: left;
        }
    }
    .breadcrumb__item.open {
        .dropdown-toggle {
            background: url("../img/breadcrumb-arrow-down.png");
        }
    }
}

@media (max-width: 991px) {
    .breadcrumb {
        .breadcrumb__item {
            clear: both;
            float: left;
            display: block;
            padding: 10px 0;
        }
    }
}

.category__item {
    figure {
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.category__text {
    background: $color-blue2;
    padding: 10px;
    color: white;
    height: 70px;
    h5, p {
        margin: 5px 0;
    }
    p {
        font-size: 110%;
        &:before {
            content: '(';
        }
        &:after {
            content: ')';
        }
    }
}

.subcategory__item {
    background: white;
    min-height: 300px;
    padding: 5%;
    position: relative;
    figure {
        width: 100%;
        padding: 10px;
        img {
            width: 100%;
        }
    }
    .btn {
        width: 100%;
        position: absolute;
        bottom: 10px;
        width: 90%;
    }
}

.subcategory__text {
    padding: 0 10px 5px 10px;
    color: white;
    h5 {
        color: $color-blue;
    }
    h5, p {
        margin: 5px 0;
    }
    p {
        color: $color-gray;
        font-size: 110%;
    }
}

@media (max-width: 767px) {
    .subcategory__item {
        .btn {
            position: relative;
            bottom: 0;
            width: 100%;
        }
    }
}