@font-face {
  font-family: SohoGothicPro;
  src: url("../fonts/SohoGothicPro-Regular.otf"); }
@font-face {
  font-family: SohoGothicPro-B;
  src: url("../fonts/SohoGothicPro-Bold.otf"); }
@font-face {
  font-family: SohoGothicPro-M;
  src: url("../fonts/SohoGothicPro-Medium.otf"); }
body {
  font-family: SohoGothicPro;
  font-size: 100%;
  color: #444;
  background: #e5e7e8; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

h1 {
  color: #006099; }

p {
  font-size: 130%;
  line-height: 1.6; }

.navbar-slim {
  font-size: 135%; }
  .navbar-slim ul li a {
    display: inline-block;
    color: #555; }
  .navbar-slim ul li:after {
    content: '|'; }
  .navbar-slim ul li:last-child:after {
    content: ''; }
  .navbar-slim .navbar-right li a {
    display: inline-block;
    color: #0060a0; }

.navbar-normal {
  font-size: 163%; }
  .navbar-normal ul li a {
    display: inline-block;
    text-transform: uppercase;
    color: #006099; }

.navbar__logo {
  padding: 10px;
  float: left;
  width: 410px; }
  .navbar__logo img {
    width: 100%; }

.navbar__shoppingcard {
  float: right;
  font-size: 135%;
  background: url("../img/icon-shopping-cart.png") no-repeat right center;
  line-height: 2.2;
  padding-right: 50px;
  color: #999; }

.navbar__messages {
  background: url("../img/icon-messages.png") no-repeat center bottom;
  width: 22px;
  height: 16px;
  display: inline-block; }

.navbar__circlecounter {
  background: #006099;
  display: inline-block;
  border-radius: 50%;
  moz-border-radius: 50%;
  webkit-border-radius: 50%;
  line-height: 1.3;
  color: #fff;
  text-align: center;
  width: 20px;
  height: 20px;
  margin: 0px 5px; }

.navbar-jumbotron {
  background: url("../img/header.jpg");
  height: 350px;
  background-position: center;
  position: relative; }
  .navbar-jumbotron .navbar-form {
    max-width: 582px;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .navbar-jumbotron .form-group {
    width: 440px;
    /*padding-left: 20px;*/ }
  .navbar-jumbotron .form-control {
    width: 100%;
    height: 60px;
    font-size: 200%;
    border-radius: 8px;
    border-color: #666; }
  .navbar-jumbotron .btn {
    width: 90px;
    height: 45px;
    font-size: 200%;
    margin-left: 20px; }

.navbar-mobile {
  font-size: 160%; }
  .navbar-mobile .navbar__logo {
    width: 160px;
    padding: 0;
    margin-top: -3px; }
    .navbar-mobile .navbar__logo img {
      width: 100%; }
  .navbar-mobile .navbar-collapse {
    overflow: hidden; }
  .navbar-mobile .navbar-main {
    text-transform: uppercase; }
  .navbar-mobile .navbar-additional a {
    color: #666; }
  .navbar-mobile ul li {
    border-bottom: 1px solid #ccc; }
    .navbar-mobile ul li a {
      line-height: 2; }
  .navbar-mobile .dropdown-menu li {
    border: none; }

.btn {
  text-transform: uppercase; }

@media (max-width: 767px) {
  .navbar-form {
    width: 100%; }
    .navbar-form .btn {
      width: 25%;
      float: right;
      height: 60px;
      margin: 0; }
    .navbar-form .form-group {
      width: 70%; } }
.recent-products__item {
  background: #f2f2f2;
  /*max-height: 184px;*/
  color: #006099;
  position: relative;
  overflow: auto; }
  .recent-products__item figure {
    width: 184px;
    max-height: 184px;
    overflow: hidden;
    float: left; }
    .recent-products__item figure img {
      width: 100%; }
  .recent-products__item .recent-products__inner {
    float: left;
    padding: 5px 15px;
    width: 50%; }
    .recent-products__item .recent-products__inner p {
      font-size: 110%; }
  .recent-products__item .recent-products__delete {
    width: 20px;
    height: 20px;
    background: url("../img/recent-product-delete.png");
    background-position: 0;
    background-color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 250%; }
    .recent-products__item .recent-products__delete:hover {
      background-image: url("../img/recent-product-delete_hover.png");
      background-color: #0060a0; }
  .recent-products__item:hover {
    cursor: pointer;
    background: #f9f9f9; }

.offers__item {
  background: #e4f5fc;
  /* max-height: 255px;*/
  color: #006099;
  position: relative;
  overflow: auto; }
  .offers__item figure {
    width: 184px;
    max-height: 255px;
    overflow: hidden;
    float: left; }
    .offers__item figure img {
      height: 100%;
      width: auto; }
  .offers__item .offers__inner {
    float: left;
    padding: 5px;
    padding-left: 15px;
    width: 50%; }
    .offers__item .offers__inner p {
      font-size: 120%;
      color: #444444; }
  .offers__item:hover {
    cursor: pointer;
    background: #f6fbfd; }

.products__item {
  background: #fff;
  min-height: 200px;
  color: #006099;
  position: relative;
  border-top: 20px solid; }
  .products__item .products__inner {
    float: left;
    padding: 5px 20px;
    width: 100%; }
  .products__item .products__list {
    padding-top: 10px;
    font-size: 130%;
    color: #333; }
    .products__item .products__list li {
      line-height: 1.5; }

.products__showall {
  position: absolute;
  bottom: 15px;
  font-size: 130%;
  text-transform: uppercase;
  right: 20px; }

.products .row .col-lg-4:nth-child(1) .products__item {
  border-color: #418622; }
.products .row .col-lg-4:nth-child(2) .products__item {
  border-color: #c9d200; }
.products .row .col-lg-4:nth-child(3) {
  border-color: #dbdf69; }
.products .row .col-lg-4:nth-child(4) .products__item {
  border-color: #c85e8c; }
.products .row .col-lg-4:nth-child(5) .products__item {
  border-color: #707172; }
.products .row .col-lg-4:nth-child(6) .products__item {
  border-color: #009ee0; }
.products .row .col-lg-4:nth-child(7) .products__item {
  border-color: #000000; }
.products .row .col-lg-4:nth-child(8) .products__item {
  border-color: #00acb6; }
.products .row .col-lg-4:nth-child(9) .products__item {
  border-color: #f2db00; }

.footer {
  min-height: 380px;
  background: #0060a0;
  color: #eee;
  margin-top: 20px; }
  .footer .container {
    min-height: 300px;
    background: url("../img/world-map.png") no-repeat right center;
    padding: 20px; }
  .footer p {
    font-size: 130%; }
  .footer .footer__menu {
    font-size: 130%;
    text-transform: uppercase; }

@media (max-width: 420px) {
  .recent-products__item figure {
    width: 40%; }

  .products__item .products__showall {
    display: block;
    clear: left;
    padding: 10px;
    width: 100%;
    text-align: right;
    position: relative; }

  .offers__item figure {
    width: 50%; }

  .footer .container {
    background: none; } }
.breadcrumb {
  background: none;
  font-size: 170%;
  height: auto;
  overflow: visible;
  min-height: 50px; }
  .breadcrumb .breadcrumb__item {
    position: relative;
    text-transform: uppercase;
    float: left;
    margin-bottom: 10px; }
    .breadcrumb .breadcrumb__item > a {
      padding: 0 20px;
      float: left; }
    .breadcrumb .breadcrumb__item .dropdown-toggle {
      border: none;
      background: url("../img/breadcrumb-arrow.png");
      content: '';
      width: 25px;
      height: 25px;
      display: block;
      float: left; }
  .breadcrumb .breadcrumb__item.open .dropdown-toggle {
    background: url("../img/breadcrumb-arrow-down.png"); }

@media (max-width: 991px) {
  .breadcrumb .breadcrumb__item {
    clear: both;
    float: left;
    display: block;
    padding: 5px 0; } }
.category__item figure {
  width: 100%; }
  .category__item figure img {
    width: 100%; }

.category__text {
  background: #0060a0;
  padding: 10px;
  color: white;
  height: 70px; }
  .category__text h5, .category__text p {
    margin: 5px 0; }
  .category__text p {
    font-size: 110%; }
    .category__text p:before {
      content: '('; }
    .category__text p:after {
      content: ')'; }

.subcategory__item {
  background: white;
  min-height: 300px;
  padding: 5%;
  position: relative; }
  .subcategory__item figure {
    width: 100%;
    padding: 10px; }
    .subcategory__item figure img {
      width: 100%; }
  .subcategory__item .btn {
    width: 100%;
    position: absolute;
    bottom: 10px;
    width: 90%; }

.subcategory__text {
  padding: 0 10px 5px 10px;
  color: white; }
  .subcategory__text h5 {
    color: #006099; }
  .subcategory__text h5, .subcategory__text p {
    margin: 5px 0; }
  .subcategory__text p {
    color: #444;
    font-size: 110%; }

@media (max-width: 767px) {
  .subcategory__item .btn {
    position: relative;
    bottom: 0;
    width: 100%; } }
.social-button {
  float: right;
  margin: 10px; }

@media (max-width: 1230px) {
  .social-button {
    float: left; } }
@media (max-width: 550px) {
  .social-button span {
    display: none; } }
.icon {
  font-size: 150%;
  margin-right: 10px;
  min-width: 15px;
  height: 22px;
  display: inline-block;
  background-position: left center;
  margin-bottom: -3px; }

.icon-pdf {
  background: url("../img/icon-pdf.png") no-repeat;
  width: 17px; }

.icon-compare {
  background: url("../img/icon-compare.png") no-repeat;
  width: 38px; }

.icon-fav {
  background: url("../img/icon-fav.png") no-repeat;
  width: 23px; }

.spare-part__image {
  overflow: hidden;
  width: 100%; }
  .spare-part__image img {
    width: 100%; }

.counter {
  float: right;
  margin: 10px 0; }

@media (max-width: 767px) {
  .counter {
    float: left; } }
.login-page {
  margin-top: 100px;
  margin-bottom: 100px; }
  .login-page .navbar__logo {
    width: 100%;
    padding: 0; }
  .login-page .form-signin .form-control {
    width: 80%;
    margin: 5% 10%; }

.btn-alternative {
  font-size: 120%;
  background: #999; }
  .btn-alternative:hover {
    background: #666; }

.btn-slim {
  font-size: 130%;
  padding: 8px; }

.bnt-remove {
  max-width: 100px;
  font-size: 110%;
  padding: 4px;
  margin: 0; }

.table tr th, .table tr td {
  font-size: 120%;
  border: 1px solid #ccc;
  border-top: none; }
.table tr th {
  background: white;
  border-bottom: none; }
.table tr:nth-child(odd) td {
  background: #e5e5e5; }
.table tr:nth-child(even) td {
  background: #fff; }
.table tr .removebutton {
  padding: 4px; }
  .table tr .removebutton .btn {
    float: right; }
.table caption {
  height: 40px;
  padding: 0;
  background: #cccccc; }
.table input[type="text"].spinedit {
  width: 40px;
  height: 20px;
  font-size: 100%;
  border-radius: 3px;
  border: 1px solid #bbb; }
.table div.spinedit {
  height: auto;
  width: auto;
  margin: 0; }
  .table div.spinedit .icon-chevron-up, .table div.spinedit .icon-chevron-down {
    float: right;
    position: relative; }

.table-header {
  background: #0060a0 url("../img/table-header-ornament.png") no-repeat right;
  display: inline-block;
  padding: 10px 40px 10px 30px;
  height: 40px;
  font-size: 130%;
  color: #fff; }

.details-label {
  font-size: 140%;
  padding: 4px;
  font-weight: normal;
  margin: 0px; }
  .details-label:after {
    content: ':'; }

/*# sourceMappingURL=style.css.map */
