$color-gray: #444;
$color-blue: #006099;
$color-blue2: #0060a0;
$background-color: #e5e7e8;

@font-face {
    font-family: SohoGothicPro;
    src: url("../fonts/SohoGothicPro-Regular.otf");
}


@font-face {
    font-family: SohoGothicPro-B;
    src: url("../fonts/SohoGothicPro-Bold.otf");
}


@font-face {
    font-family: SohoGothicPro-M;
    src: url("../fonts/SohoGothicPro-Medium.otf");
}


body {
    font-family: SohoGothicPro;
    font-size: 100%;
    color: $color-gray;
    background: $background-color;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {}
}

h1 {
    color: $color-blue;
}

p {
    font-size: 130%;
    line-height: 1.6;
}

.navbar-slim {
    font-size: 135%;
    ul {
        li {
            a {
                display: inline-block;
                color: #555;
            }
            &:after {
                content: '|';
            }
            &:last-child:after {
                content: '';
            }
        }
    }
    .navbar-right {
        li {
            a {
                display: inline-block;
                color: $color-blue2;
            }
        }
    }
}

.navbar-normal {
    font-size: 163%;
    ul {
        li {
            a {
                display: inline-block;
                text-transform: uppercase;
                color: $color-blue;
            }
        }
    }
}

.navbar__logo {
    padding: 10px;
    float: left;
    width: 410px;
    img {
        width: 100%;
    }
}

.navbar__shoppingcard {
    float: right;
    font-size: 135%;
    background: url("../img/icon-shopping-cart.png") no-repeat right center;
    line-height: 2.2;
    padding-right: 50px;
    color: #999;
}

.navbar__messages {
    background: url("../img/icon-messages.png") no-repeat center bottom;
    width: 22px;
    height: 16px;
    display: inline-block;
}

.navbar__circlecounter {
    background: $color-blue;
    display: inline-block;
    border-radius: 50%;
    moz-border-radius: 50%;
    webkit-border-radius: 50%;
    line-height: 1.3;
    color: #fff;
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}

.navbar-jumbotron {
    background: url("../img/header.jpg");
    height: 350px;
    background-position: center;
    position: relative;
    .navbar-form {
        max-width: 582px;
        height: 60px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .form-group {
        width: 440px;
        /*padding-left: 20px;*/
    }
    .form-control {
        width: 100%;
        height: 60px;
        font-size: 200%;
        border-radius: 8px;
        border-color: #666;
    }
    .btn {
        width: 90px;
        height: 45px;
        font-size: 200%;
        margin-left: 20px;
    }
}

.navbar-mobile {
    font-size: 160%;
    .navbar__logo {
        width: 160px;
        padding: 0;
        margin-top: -3px;
        img {
            width: 100%;
        }
    }
    .navbar-collapse {
        overflow: hidden;
    }
    .navbar-main {
        text-transform: uppercase;
    }
    .navbar-additional {
        a {
            color: #666;
        }
    }
    ul {
        li {
            border-bottom: 1px solid #ccc;
            a {
                line-height: 2;
            }
        }
    }
    .dropdown-menu {
        li {
            border: none;
        }
    }
}

.btn {
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .navbar-form {
        width: 100%;
        .btn {
            width: 25%;
            float: right;
            height: 60px;
            margin: 0;
        }
        .form-group {
            width: 70%;
        }
    }
}

// HOMEPAGE

.recent-products__item {
    background: #f2f2f2;
    /*max-height: 184px;*/
    color: $color-blue;
    position: relative;
    overflow: auto;
    figure {
        width: 184px;
        max-height: 184px;
        overflow: hidden;
        float: left;
        //width: 50%;
        img {
            width: 100%;
        }
    }
    .recent-products__inner {
        float: left;
        padding: 5px 15px;
        width: 50%;
        p {
            font-size: 110%;
        }
    }
    .recent-products__delete {
        width: 20px;
        height: 20px;
        background: url("../img/recent-product-delete.png");
        background-position: 0;
        background-color: #fff;
        position: absolute;
        right: 10px;
        top: 10px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        font-size: 250%;
        &:hover {
            background-image: url("../img/recent-product-delete_hover.png");
            background-color: #0060a0;
        }
    }
    &:hover {
        cursor: pointer;
        background: #f9f9f9;
    }
}

.offers__item {
    background: #e4f5fc;
    /* max-height: 255px;*/
    color: $color-blue;
    position: relative;
    overflow: auto;
    figure {
        width: 184px;
        max-height: 255px;
        overflow: hidden;
        float: left;
        //width: 50%;
        img {
            height: 100%;
            width: auto;
        }
    }
    .offers__inner {
        float: left;
        padding: 5px;
        padding-left: 15px;
        width: 50%;
        p {
            font-size: 120%;
            color: #444444;
        }
    }
    &:hover {
        cursor: pointer;
        background: #f6fbfd;
    }
}

.products__item {
    background: #fff;
    min-height: 200px;
    color: $color-blue;
    position: relative;
    border-top: 20px solid;
    .products__inner {
        float: left;
        padding: 5px 20px;
        width: 100%;
    }
    .products__list {
        padding-top: 10px;
        font-size: 130%;
        color: #333;
        li {
            line-height: 1.5;
        }
    }
}

.products__showall {
    position: absolute;
    bottom: 15px;
    font-size: 130%;
    text-transform: uppercase;
    right: 20px;
}

.products .row .col-lg-4 {
    &:nth-child(1) .products__item {
        border-color: #418622;
    }
    &:nth-child(2) .products__item {
        border-color: #c9d200;
    }
    &:nth-child(3) {
        border-color: #dbdf69;
    }
    &:nth-child(4) .products__item {
        border-color: #c85e8c;
    }
    &:nth-child(5) .products__item {
        border-color: #707172;
    }
    &:nth-child(6) .products__item {
        border-color: #009ee0;
    }
    &:nth-child(7) .products__item {
        border-color: #000000;
    }
    &:nth-child(8) .products__item {
        border-color: #00acb6;
    }
    &:nth-child(9) .products__item {
        border-color: #f2db00;
    }
}

.footer {
    min-height: 380px;
    background: $color-blue2;
    color: #eee;
    margin-top: 20px;
    .container {
        min-height: 300px;
        background: url("../img/world-map.png") no-repeat right center;
        padding: 20px;
    }
    p {
        font-size: 130%;
    }
    .footer__menu {
        font-size: 130%;
        text-transform: uppercase;
    }
}

@media (max-width: 420px) {
    .recent-products__item {
        figure {
            width: 40%;
        }
    }
    .products__item {
        .products__showall {
            display: block;
            clear: left;
            padding: 10px;
            width: 100%;
            text-align: right;
            position: relative;
        }
    }
    .offers__item {
        figure {
            width: 50%;
        }
    }
    .footer {
        .container {
            background: none;
        }
    }
}

// PRODUCT LEVEL 1

.breadcrumb {
    background: none;
    font-size: 170%;
    height: auto;
    overflow: visible;
    min-height: 50px;
    .breadcrumb__item {
        position: relative;
        text-transform: uppercase;
        float: left;
        margin-bottom: 10px;
        > a {
            padding: 0 20px;
            float: left;
        }
        .dropdown-toggle {
            border: none;
            background: url("../img/breadcrumb-arrow.png");
            content: '';
            width: 25px;
            height: 25px;
            display: block;
            float: left;
        }
    }
    .breadcrumb__item.open {
        .dropdown-toggle {
            background: url("../img/breadcrumb-arrow-down.png");
        }
    }
}

@media (max-width: 991px) {
    .breadcrumb {
        .breadcrumb__item {
            clear: both;
            float: left;
            display: block;
            padding: 5px 0;
        }
    }
}

.category__item {
    figure {
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.category__text {
    background: $color-blue2;
    padding: 10px;
    color: white;
    height: 70px;
    h5, p {
        margin: 5px 0;
    }
    p {
        font-size: 110%;
        &:before {
            content: '(';
        }
        &:after {
            content: ')';
        }
    }
}

.subcategory__item {
    background: white;
    min-height: 300px;
    padding: 5%;
    position: relative;
    figure {
        width: 100%;
        padding: 10px;
        img {
            width: 100%;
        }
    }
    .btn {
        width: 100%;
        position: absolute;
        bottom: 10px;
        width: 90%;
    }
}

.subcategory__text {
    padding: 0 10px 5px 10px;
    color: white;
    h5 {
        color: $color-blue;
    }
    h5, p {
        margin: 5px 0;
    }
    p {
        color: $color-gray;
        font-size: 110%;
    }
}

@media (max-width: 767px) {
    .subcategory__item {
        .btn {
            position: relative;
            bottom: 0;
            width: 100%;
        }
    }
}

.social-button {
    float: right;
    margin: 10px;
}

.social-button__normal {
    float: left;
}

@media (max-width: 1230px) {
    .social-button {
        float: left;
    }
}

@media (max-width: 550px) {
    .social-button {
        span {
            display: none;
        }
    }

    .social-button__normal {
        span {
            display: inline;
        }
    }
}

.icon {
    font-size: 150%;
    margin-right: 10px;
    min-width: 15px;
    height: 22px;
    display: inline-block;
    background-position: left center;
    margin-bottom: -3px;
}

.icon-pdf {
    background: url("../img/icon-pdf.png") no-repeat;
    width: 17px;
}

.icon-compare {
    background: url("../img/icon-compare.png") no-repeat;
    width: 38px;
}

.icon-fav {
    background: url("../img/icon-fav.png") no-repeat;
    width: 23px;
}

.spare-part__image {
    overflow: hidden;
    width: 100%;
    img {
        width: 100%;
    }
}

.counter {
    float: right;
    margin: 10px 0;
}

@media (max-width: 767px) {
    .counter {
        float: left;
    }
}

.login-page {
    margin-top: 100px;
    margin-bottom: 100px;
    .navbar__logo {
        width: 100%;
        padding: 0;
    }
    .form-signin {
        .form-control {
            width: 80%;
            margin: 5% 10%;
        }
    }
}

.btn-alternative {
    font-size: 120%;
    background: #999;
    &:hover {
        background: #666;
    }
}

.btn-slim {
    font-size: 130%;
    padding: 8px;
}

.btn-gray {
    font-size: 100%;
    padding: 8px;
    background: #6b7a82;
}

.btn-table {
    font-size: 110%;
    padding: 5px;
    margin: 0;
}

.table {
    tr {
        th, td {
            font-size: 120%;
            border: 1px solid #ccc;
            border-top: none;
        }
        th {
            background: white;
            border-bottom: none;
        }
        &:nth-child(odd) {
            td {
                background: #e5e5e5;
            }
        }
        &:nth-child(even) {
            td {
                background: #fff;
            }
        }
        .tablebtn {
            padding: 4px;
            .btn {
                float: right;
            }
        }
    }
    caption {
        height: 40px;
        padding: 0;
        background: #cccccc;
        .table-header {
            background: url("../img/table-header-ornament.png") no-repeat right;
            float: left;
            padding: 10px 40px 10px 30px;
            margin-right:10px;
            height: 40px;
            font-size: 130%;
            color: #fff;
        }
    }
    .summary-caption {
        background-color: white;
        .cart__items, .cart__total, .cart__price {
            width: 15%;
            padding: 11px 1%;
            float: left;
            font-size: 120%;
            font-weight: bold;
            color: #006699;
        }

        .cart__price {
            width: 30%;
        }

        .cart__total {
            text-align: right;
        }
    }
    input[type="text"].spinedit {
        width: 40px;
        height: 20px;
        font-size: 100%;
        border-radius: 3px;
        border: 1px solid #bbb;
    }
    div.spinedit {
        height: auto;
        width: auto;
        margin: 0;
        .icon-chevron-up, .icon-chevron-down {
            float: right;
            position: relative;
        }
    }
}

.details-label {
    font-size: 140%;
    padding: 4px;
    font-weight: normal;
    margin: 0px;
    &:after {
        content: ':';
    }
}

.quickorder {
    h4 {
        text-align: right;
        margin: 10px 0;
        max-height: 15px;
    }
    p {
        text-align: right;
    }
    .quickorder-pic {
        margin-top: -10px;
        border: 1px solid #ccc;
        width: 60px;
        height: 60px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 767px) {
    .quickorder {
        h4, p {
            text-align: center;
        }
    }
}

.product-listing {
    margin-top: 20px;
    margin-bottom: 20px;
    .product-listing__header {
        position: relative;
        background: white;
        border-radius: 4px;
        color: $color-blue;
        height: 58px;
        padding: 7px 15px;
        margin: 2px 0;

        h4 {
            max-width: 400px;
            float: left;
            .quantity {
                color: #ef8521;

                &:before {
                    content: '(';
                    padding-left: 10px;
                }
                &:after {
                    content: ')';
                }
            }
        }
    }

    .product-listing__open {
        background: url('../img/arrow-big.png');
        width: 42px;
        height: 42px;
        position: absolute;
        right: 10px;
    }

    .product-listing__item {
        min-height: 60px;
        background: #f2f3f4;
        margin: 1px 0;
        overflow: auto;
        position: relative;

        figure {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            float: left;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .btn {
            margin: 5px 0;
        }

        .spinedit {
            height: 40px;
        }

        input[type="text"].spinedit {
            width: 55px;
        }

        .product-listing__name {
            color: $color-blue;
            font-size: 130%;
            font-weight: bold;
            display: block;
        }
        .product-listing__description {
            font-size: 110%;
        }

        .product-listing__price {
            font-size: 140%;
            color: $color-blue2;
            line-height: 42px;
            float: right;
        }

        .product-listing__desc {
            font-size: 120%;
            color: $color-blue;
            display: inline-block;
            width: 70px;
        }

        .product-listing__value {
            font-size: 120%;
        }

        .product-listing__checkbox {
            background: url("../img/checkbox.png") no-repeat;
            background-position: 0 50%;
            width: 41px;
            height: 42px;
            position: absolute;
            right: 20px;
            top:50%;
          transform: translate(0,-50%);
        }
    }

    .choose-model__price {
        h4 {
            color: $color-blue;
            margin: 8px;
        }

        .choose-model__spinner {
            padding: 10px 0;
            height: 56px;
        }
    }

    .product-listing__properties {
        padding: 10px;
        padding-right: 150px;

        .col-lg-2 {
            padding:5px;
        }

    }

    .product-listing__spareparts {
        width: 100%;
        margin-bottom:1px;
        border: 1px solid #ccc;
        img {
            width: 100%;
            height: 100%;
        }
    }


}

@media (max-width: 767px) {
    .product-listing .product-listing__properties {
            padding: 10px;
            padding-right: 0px;

        }

        .choose-model__price {

        .choose-model__spinner {
           margin-left: 20px;
        }
    }
}